.App {
  text-align: center;
  perspective: 1000px;
}

.App img {
	transform: translateX(-25vw);
	opacity: 0;
}

.App img:nth-child(1) {
	transition: ease-in-out all 1s 0s;
}
.App img:nth-child(2) {
	transition: ease-in-out all 1s 0.1s;
}
.App img:nth-child(3) {
	transition: ease-in-out all 1s .2s;
}

.App .active img {
	opacity: 1;
	transform: translateX(0px);
	box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
}

.App-logo {
  cursor: pointer;
  transition: ease-in-out .5s height;
  width: 100%;
  height: 100%;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  overflow: hidden;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "first second second" "first third third";
}

.first { grid-area: first; transition-delay: 0.5s; }
  
.second { grid-area: second; transition-delay: 1s;}

.third { grid-area: third; transition-delay: 1.5s; }

img { display: flex; justify-content: center; align-items: center;}

.App-link {
  color: #61dafb;
}
